* {
  padding: 0;
  margin: 0;
  color: #eee;
  font-family: monospace;
  font-size: 0.8rem;
}
body {
  background: #111;
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
canvas {
  background: #000;
  margin: auto;
  image-rendering: pixelated;
}
#control {
  flex-grow: 1;
  height: 0;
}
#canvas {
  flex-grow: 1;
  height: 0;
}
.node_fields {
  overflow: hidden;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
.node {
  display: flex;
  flex-direction: column;
  border: solid 1px #0000;
  background: #203;
}
.clock_canvas, .clock_mult_canvas, .shaper_canvas {
  /* height: 100%;
  width: 100%; */
  flex-grow: 1;
    height: 0;
    width: 100%;
}
.focused {
  background: #960;
  border-color: #440;
}