* {
    padding: 0;
    margin: 0;
    font-family: monospace;
    color: #ddd;
}

body {
    background: #111;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.media {
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: 35rem;
  margin: 1rem;
  margin-bottom: 0rem;
}

.image_wrapper {
  height: 30rem;
  width: 20rem;
  display: flex;
  align-content: center;
}

img {
  flex-grow: 1;
  object-fit: cover;       
  object-position: center;
  width: 100%;
}
a {
  text-align: center;
  margin-top: 0.5rem;
  text-decoration: none;
}
a.glow:hover {
  text-shadow: 0 0 5px #fff;
}

#content {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}
.links {
  display: flex;
  justify-content: center;
}
.links * {
  color: #888;
}
.links *:hover {
  color: #bbb;
}