* {
  border: 0;
  margin: 0;
}

body {
  display: flex;
  overflow: hidden;
  background: #444;
}

canvas {
  background: #888;
  border: none;
}

#sliders {
  display: flex;
  flex-direction: column;
}
