* {
  padding: 0;
  margin: 0;
}
body {
  background: #050505;
  display: flex;
}
p, button, label, input {
  color: #dd8;
  font-family: monospace;
  font-size: 1rem;
  white-space: break-spaces;
  background: none;
  border: none;
}
.title {
  background: #331;
  margin-top: auto;
  margin-bottom: auto;
}
input {
  color: #dd8;
  width: 8rem;
}
/* #canvas {
  height: 90vh;
  width: 90vh;
  margin: 5vh;
} */
/* button {
  background: none;
  border: solid 1px #eead;
  color: #eead;
  cursor:pointer;
  margin-bottom: 0.3rem;
  margin-right: 1rem;
  padding: 0.5rem;
}
button:hover {
  color: #eeaf;
} */
div {
  background: #220;
  width: 7rem;
  position: fixed;
}
svg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
input {
  width: 4rem;
  background-color: #0004;
}
#right {
  height: 100vh;
  width: 100vw;
  background: none;
}
#left {
  height: 100vh;
  width: 24vw;
  background: none;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;
  z-index: 2;
}
#textarea {
  border: none;
  background: #fff1;
  width: 100%;
  color: #ffa;
  flex-grow: 1;
}
#left button {
  background: #222;
  padding: 1rem;
}
#left button:hover {
  cursor: pointer;
}
.block {
  display: flex;
  flex-direction: column;
}
.frequency_graph_canvas {
  width: 7rem;
  height: 3.5rem;
  background: #220;
}
.osc_graph_canvas {
  width: 7rem;
  height: 3.5rem;
  background: #220;
}
.line {
  display: flex;
  width: 16rem;
}
.line > label {
  width: 4rem;
  display: block;
}
.line > p {
  font-size: 0.5rem;
}